*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 1415px;
  background-color: #c1d9ff;
  box-shadow: 1.5px 1.5px 1.5px grey;
}

.map {
  padding: 0px;
  border: 0px;
}

.searchbox {
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 13px;
  margin-right: 13px;
  border-radius: 15px;
  color: #5e5d5d;
  box-shadow: 1.5px 1.5px 1.5px grey;
}


.SearchIcon {
  display: inline-block;
  float: left;
  padding: 4px;
}

.SearchInput {
  display: inline-block;
  margin: 0px;
  width: 250px;
}

.GoButton {
  display: inline-block;
  background-color: #F2864A;
  border-radius: 15px;
  color: white;
  box-shadow: 1.5px 1.5px 1.5px grey;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
  float: right;
}

.CurrentStreet {
  margin-left: 13px;
  margin-right: 13px;
  text-align: center;
  border-bottom: 1px solid gray;
  color: #5e5d5d;
}

.direction {
  font-weight: bold;
  margin-left: 13px;
  color: #5e5d5d;
  padding: 0px;
  padding: 0px;
  display: inline-block;
}

ul {
  list-style-type: none;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;
  margin: 0px;
}

li {
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid gray;
  float: left;
}

li:last-child { border-bottom: none; }

li p {
  float: left;
  padding: 10px;
  margin: 5px;
}

.line {
  display: inline-block;
  width: 70px;
  font-weight: bold;
  color: #5e5d5d;
}

.destination {
  display: inline-block;
  width: 115px;
  color: #5e5d5d;
}

.frequency {
  display: inline-block;
  width: 115px;
  float: right;
  background-color: #F2864A;
  color: white;
  border-radius: 15px;
}

.menutext {
  margin-top: 10px;
  float: left;
  height: 60px;
  width: 100%;
  font-size: 10px;
  background-color: #EFEFF0;
    box-shadow: 1.5px 1.5px 1.5px grey;
}

.menutext div {
  float: left;
  width: 33%;
  text-align: center;
}

.menutext img {
  padding-top: 10px;
}

.menutext p {
  margin: 0px;
}
